extends ../layouts/app

block content
    table.table.table-striped
        thead
            tr
                th Capteur
                th
                th
        each sensor in sensors
            tr
                td
                    #{sensor}
                td
                    a.btn.btn.btn-default(href="/sensor/#{sensor._id}") Voir
                td
                    a.btn.btn-primary(href="/sensor/#{sensor._id}/edit") Editer
