extends layouts/app

block content
    div.row
        div.col-xs-12
            h1 Bad request
    div.row
        div.col-xs-12
            p You have perform a bad request on our server, or the page you requested doesn't exists anymore.
        div.col-xs-12
            img(class="img-responsive center-block" src="images/404.svg" alt="Error 404" width="250px")
