
div.col-sm-4.col-xs-12
    aside
        h4 Users
        ul
            li
                a(href="/users") List
            li
                a(href="/signup") Create
        h4 Sites
        ul
            li
                a(href="/sites") List
            li
                a(href="/sites/add") Create