extends ../layouts/app

block head
    script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript").
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Boat');
        data.addColumn('number', 'Average speed');

        data.addRows([
          ["Boat 1", 13],
          ["Boat 2", 22],
          ["Boat n", 19]
        ]);

        var options = {
          title: 'Speed average per boat',
          hAxis: {
            title: 'Boat',
          },
          vAxis: {
            title: 'Speed (kts)'
          }
        };

        var chart = new google.visualization.ColumnChart(
            document.getElementById('chartSpeed'));

        chart.draw(data, options);
      }
block content
    h1 Dashboard
    div#chartSpeed
    p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.