nav.navbar.navbar-inverse.navbar-fixed-top
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Sailtracker
                // img(alt="Brand" src="/favicon.ico")

        div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="/signin" data-toggle="dropdown") Login
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/signin") Sign in
                        li
                            a(href="/signup") Sign up
                li
                    a(href="/livemap") LiveMap
                li
                    a(href="/dashboard") Dashboard
                li
                    a(href="/logout") Logout
