extends ../layouts/app

block head

block content
    h1 Livemap
    div#map
    script.
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 46.08, lng: -1.25},
          zoom: 10
        });
        var data = !{boats};
        for (var i = 0; i < data.length; i++) {
          console.log(i)
          var marker = new google.maps.Marker({
            map: map,
            position: {lat: data[i].lat, lng: data[i].lng},
            title: data[i].name,
            icon: {
              scale: 1,
              rotation: 90,
              url: '/images/boat-icon.png'
            }
          });
        }
      }

block scripts
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY1tS8rLYf9BeY6_KnsJAovZDNhaukQUc&callback=initMap")