extends ../layouts/app

block content
    h1 Users
    div.table-responsive
        table.table.table-hover.table-striped
            thead
                tr
                    th #
                    th User
                    th(colspan="3") Actions
            tbody
                - var i = 0
                each user in users
                    - i++
                    tr
                        td #{i}
                        td #{user.username}
                        td
                            a(class="btn btn-default" href='/users/' + user._id) Details
                        td
                            a(class="btn btn-danger" href='/users/' + user._id + '/delete') Remove
                        td
                            a(class="btn btn-primary" href='/users/' + user._id + '/edit') Edit
