extends ../layouts/app

block content
    div.row
        div.col-xs-12
            h1 Users
    div.row
        div.col-sm-8.col-xs-12
            div.table-responsive
                table.table.table-hover.table-striped
                    thead
                        tr
                            th #
                            th User
                            th Role
                            th(colspan="3") Actions
                    tbody
                        - var i = 0
                        each user in users
                            - i++
                            tr
                                td #{i}
                                td #{user.username}
                                td #{user.role.name}
                                td
                                    a(class="btn btn-default" href='/users/' + user._id) Details
                                td
                                    a(class="btn btn-primary" href='/users/' + user._id + '/edit') Edit
                                td
                                    form(action='/users/' + user._id + '/delete' method="POST")
                                        input(type="submit" class="btn btn-danger" value="Remove")

        include ../layouts/aside